.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.emailContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formRow {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
